<div class="auth-card shadow">
<div style="text-align: center; margin-bottom: 20px;">
  <p class="semibold" style="font-family:Calibri; font-size: 36px"> Inicia sesión</p>
</div>

<div style="margin-top:20px" class="element" id="google-button"></div>

<div style="margin-top:20px" class="container">
  <div class="line"><mat-divider></mat-divider></div>
  <div class="text mat-typography">o continuá con</div>
  <div class="line"><mat-divider></mat-divider></div>
</div>

<form [formGroup]="formLogin" (ngSubmit)="login()" style="margin-top:20px;" class="example-form">
  <p class="semibold">Email</p>
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label style="color: #828282">Ingresá tu email</mat-label>
    <input style="color: #828282" matInput
           [formControl]="email"
           (blur)="updateErrorMessage()"
           required />
    @if (email.invalid) {
    <mat-error>{{errorMessage()}}</mat-error>
    }
  </mat-form-field>
  <p class="semibold">Contraseña</p>
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label style="color: #828282">Ingresá tu contraseña</mat-label>
    <input style="color: #828282" matInput [type]="hide() ? 'password' : 'text'" [formControl]="password" required />
    <button mat-icon-button
            type="button"
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Ocultar contraseña'"
            [attr.aria-pressed]="hide()">

      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <button style="margin-top:20px; background-color: #D9697D; color: white; " class="btn" type="submit" mat-flat-button>Iniciá sesión</button>

  <div class="ltxt">
    <a routerLink="" style="margin-top: 10px; color:#828282 ">¿Olvidaste tu contraseña?</a>
  </div>
  <div class="ltxt">
    <a routerLink="/register" style="margin-top: 10px; color:#828282 ">¿No tenés una cuenta? Registrate</a>
  </div>
</form>
</div>
