<header>
  <mat-toolbar style="min-height: 100px; background-color: #D9697D;" class="shadow">
    <span class="spacer1"></span>
    <a routerLink="/" style="display:flex; align-items:center;">
      <img width="120" height="120" src="/chopper-logotransparente.png" />
    </a>
    <a *ngIf="isAdmin" class="html" routerLink="/admin" style="font-family: Calibri; color: white; margin-left: 1em;">
      Admin
    </a>
    <span class="example-spacer"></span>

    <a class="html" routerLink="/products" style="font-family: Calibri; color: white; margin-right: 1.5em;">
      Tienda
    </a>
    <a class="html" routerLink="/us" style="font-family: Calibri; color: white; margin-right: 1.5em;">
      Nosotros
    </a>
    <a class="html" routerLink="/recommendation" style="font-family: Calibri; color: white; margin-right: 1.5em;">
      Recomendaciones
    </a>
    <a class="html" routerLink="/contact" style="font-family: Calibri; color: white; margin-right: 1.5em;">
      Contacto
    </a>

    <a *ngIf="!usuarioLogueado" class="html" routerLink="/login" style="font-family: Calibri; color: white;">
      Login / Register
    </a>

    <ng-container *ngIf="usuarioLogueado">
      <button mat-icon-button routerLink="/cart" aria-label="Carrito" style="color:white" class="cart-badge"
              [matBadge]="cartCount" [matBadgeHidden]="cartCount === 0">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button mat-icon-button routerLink="/profile" aria-label="Mi perfil" style="color:white">
        <mat-icon>person</mat-icon>
      </button>
      <button mat-icon-button (click)="logout()" aria-label="Cerrar sesión" style="color:white">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </ng-container>
    <span class="spacer1"></span>
  </mat-toolbar>
</header>

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer>
  <mat-toolbar style="min-height: 220px; background-color: #D9697D;" class="shadow">
    <span class="spacer1"></span>
    <div style="text-align:center; color:white">
      <a routerLink="/">
        <img width="120" height="120" src="/chopper-logoblanco.png" />
      </a>
      <div></div>
      <p>Nuestras redes</p>
      <a href="https://www.facebook.com/ChopperStoreCS" target="_blank">
        <button mat-icon-button class="material-icon" aria-label="Facebook button">
          <mat-icon>facebook</mat-icon>
        </button>
      </a>
      <a href="https://www.instagram.com/chopperstorecsgo/" target="_blank">
        <button mat-icon-button svg class="material-icon" aria-label="Facebook button">
        <svg cIcon name="cibInstagram" size="xs" title="Numbered List Icon"></svg>
        </button>
      </a>
    </div>

    <span class="example-spacer"></span>

    <div style="font-size:70%">
      <p style="color:white">Accesos</p>
      <p style="color:#454545"><a routerLink="/profile" style="color:#454545">Mi cuenta</a></p>
      <p style="color:#454545"><a routerLink="/cart" style="color:#454545">Carrito</a></p>
      <p style="color:#454545"><a routerLink="/contact" style="color:#454545">Contacto</a></p>
    </div>

    <span class="spacer1"></span>
  </mat-toolbar>
 </footer>






