<div style="text-align: center; margin-top: 5em; margin-right: 15%; margin-left: 15%;">
  <h1 class="bold" style="font-family:Calibri; font-size:48px; margin-bottom:0.3em;">Chopper Store</h1>
  <h6 class="gray" style="font-family:Calibri; font-size:18px; line-height:1.6; font-weight:400;"> ChopperStore es tu destino confiable para skins de CS2, ofreciendo una amplia seleccion que eleva tu experiencia de juego. Con un enfoque especializado en la compra y venta de skins, nos comprometemos a proporcionar seguridad y variedad para satisfacer tus necesidades!</h6>
</div>

<div style="margin-top: 5em;" class="flex-container">
  <div class="flex-item-left" style="margin-left: 5%;">
    <div>
      <h3 class="semibold">Tienda</h3>
      <h6 class="gray">Conoce nuestra amplia selección de skins de CS2 para mejorar tu experiencia de juego.</h6>
    </div>
  </div>
  <div class="flex-item-right" style="margin-right: 5%;">
    <div class="hero-image-container shadow">
      <img class="hero-image" alt="Foto de CSGO" src="/T-running-monster-overpass.jpg" />
      <div class="hero-overlay"></div>
      <button mat-flat-button class="btn hero-btn" routerLink="/products">Ir a la Tienda</button>
    </div>
  </div>
</div>

<div style="margin-top: 5em; margin-bottom: 5em" class="flex-container">
  <div class="flex-item-left" style="margin-left: 5%;">
    <div class="hero-image-container shadow">
      <img class="hero-image" alt="Foto de CSGO" src="/03.jpg" />
      <div class="hero-overlay"></div>
      <button mat-flat-button class="btn hero-btn" routerLink="/us">Conocenos</button>
    </div>
  </div>
  <div class="flex-item-right" style="margin-right: 5%;">
    <div>
      <h3 class="semibold">Nosotros</h3>
      <h6 class="gray">Conoce nuestra misión, visión y objetivos para garantizarte la mejor calidad y servicio. </h6>
    </div>
  </div>
</div>
