<div class="flex-container" style="margin-bottom:4em">
  <div class="flex-item-left" style="margin-top: 4em">
    <p class="semibold" style="font-size:64px">Nosotros</p>
    <p style="color: #828282; font-size: 24px">¿Quienes somos?</p>
    <p style="font-size: 20px; font-weight:400">
      En ChopperStore, nos dedicamos a proporcionar a los jugadores de CS2 una amplia selección de skins y un servicio excepcional.
      Nuestra misión es enriquecer la experiencia de juego ofreciendo muchas skins  y un servicio confiable, mientras construimos una comunidad de jugadores apasionados. Nuestra visión es ser el referente en la industria de las skins de CS2, ofreciendo seguridad, cantidad y un servicio sin complicaciones.
      <br>
      <br>
      Objetivos:
      <br>
      • Ofrecer una amplia cantidad de  skins de CS2.
      <br>
      • Proporcionar un servicio al cliente excepcional y seguro.
      <br>
      • Construir y mantener una comunidad activa de jugadores de CS2.
      <br>
      <br>
      Trabajo en Solitario:

      <br>
      ChopperStore es impulsado por un individuo comprometido con tu experiencia de juego en CS2. Desde la selección de productos hasta el servicio al cliente, cada detalle se cuida para tu satisfacción.
      <br>
      <br>
      Únete a ChopperStore para elevar tu experiencia con las mejores skins de CS2.
    </p>
  </div>
  <div class="flex-item-right">
    <img class="us shadow" width:10px alt="GIF Compra de skins" src="/publicacion compramos tus skins.gif" />
  </div>
</div>
